body {
    background: 
        url(images/dust_scratches.png);
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    border: #cccccc;
    margin-top: 20px;
    margin-left: 40px;
    margin-right:300px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
}

ul {
    background-color: #ffffff;
    text:#777777;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

li {
    float: right;
    display: block;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #777777;
}

img {
    float: left;
}

div {
    background-color: #ffffff;
    border-color: #dddddd;
    border: 2px;
    margin: 40px;
    padding: 20px;
}

h2 {
    text: #4aaaa5;
}

footer {
    background-color: #666666;
    text: #ffffff;
    text-align: center;
}






