body {
    background: 
        url(../images/dust_scratches.png);    
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    border: #cccccc;
    margin-left: 50px;
    margin-right: 250px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    float: left;
}

ul {
    background-color: #ffffff;
    text:#777777;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}    

li {
    float: right;
    display: inline;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #777777;
}

.navbarlink {
    color: #777777;
    text-decoration: none;
}

img {
    float: left;
    padding: 30px;
}

.bio {
    background-color: #ffffff;
    border-color: #dddddd;
    border: 2px;
    padding: 20px;
    margin-top: 40px;
    border: 5px #666666;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.about {
    text: #4aaaa5;
    background-color: #ffffff;
    border-bottom-color: #dddddd;
}

.footer {
    background-color: #666666;
    text: #ffffff;
    text-align: center;
    line-height: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    border-top: 5px #4aaaa5
}

label {
    display: block;
    padding: 10px;
}

input {
    display: block;
}

div.container {
    margin: 5px;
    border: 1px solid #666666;
    float: left;
    width: 180px;
}




